# Large model files
*.pkl
*.safetensors
*.bin
# infersent1.pkl is ignored as it is 146MB (exceeds GitHub limit)

# Specific folders
FAQ_Retrieval_System/glove.840B.300d/
FAQ_Retrieval_System/checkpoints/
FAQ_Retrieval_System/fine_tuned_sbert_v2/

# Python artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Whitelist core data
!*.txt
!*.json